*.idea
*target
*.save
*.key
*~$
*deploy_tmp
*out
*.iml
*.swp
*mounted_volumes
*.session
*.session-journal
*__pycache__
*.sops.yaml
*tests/*/settings.json
*tests/*/conn.json
*tests/settings.json
*tests/conn.json
